#spring.application.name=Produtos API

spring:
  application:
    name: Produtos API

  datasource:
    url: jdbc:h2:mem:produtos
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2
